body {
	font-family: sans-serif;
}


.list{
	display: flex;
	flex-wrap: wrap;
	float: left;
	width: 42%;
}


#header {
	width: 93%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: darkblue;
	font-family: Nunito;
	border: 5px solid #fed000;
	padding: 1em;
	margin: 1em;
	font-variant: small-caps;
}

.container{
	display: inline-flex;
	flex-direction: row;

}

.box{
	border: 3px solid brown;
}

#one{
	order: 1;
}

#two{
	order: 2;
}

#three{
	order: 3;
}

.ol1 {
	display: flex;
	color: darkred;
	align-items: flex-start;
}


.google {
	text-align: center;
	width: 42%;
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


#item1 {
	border-bottom: 3px dashed darkred;
}


.fish {
	float: right;
	display: flex;
}