body {
	font-family: sans-serif;
}


#header {
	color: darkblue;
	text-align: center;
	font-family: Nunito;
	border: 5px solid #fed000;
	padding: 1em;
	margin: 1em;
	font-variant: small-caps;
}


.ol1 {
	display: flex;
}


#google {
	text-align: center;
	width: 330px;
	height: 500px;
	display: flex;
	align-items: center;
}


#item1 {
	border-bottom: 3px dashed black;
	padding: 0.2em;
}


#fish {
	float: right;
	display: flex;