body {
	font-family: sans-serif;
}

.list{
	float: left;
	width: 330px;
}

#header {
	color: darkblue;
	text-align: center;
	font-family: Nunito;
	border: 5px solid #fed000;
	padding: 1em;
	margin: 1em;
	font-variant: small-caps;
}


.ol1 {
	display: flex;
	color: darkred;
	align-items: flex-start;
}


.google {
	text-align: center;
	width: 330px;
	height: 400px;
	align-items: flex-start;
	display: flex;
}


#item1 {
	border-bottom: 3px dashed darkred;
}


.fish {
	float: right;
	display: flex;
}
